form, input {

    font-family: 'Nova Square', cursive;

}

form {

	font-size: 30px;
	font-color: #FFFFFF;
}


body {

	background-image: url("pictures/windowmountain.jpg");
	background-color: #EE1E40;
}

.container {

	margin-top: 118px;
	margin-left: 127px; 
	width: 950px;
	height: 950px;
	display: block;
	display: inline-block				

}

h1 {


	font-family: 'Nova Square', cursive;
	font-size: 110px;
	text-align: center;
	margin-right: 528px;
	margin-bottom: 0px;

}
