body, html {

	padding: 0px;
	margin: 0px;
}

body {

	background-image: url("pictures/windowmountain.jpg");
}


#top {
	
	color: #FFFFFF;
	font-size: 80px;
    background-image: url("pictures/header.jpg")
	}



h1 {		

	display: inline-block;
    margin-top: -1px;
	font-size: 140px;
	margin-left: 1px;
	margin-bottom: 0px;
	font-family: 'Nova Square', cursive;
	color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  

}

p, li {

	font-family: 'Nova Square', cursive;
	word-spacing: 2px;
}

#navigation{
	
	display: inline-block;
	font-size: 22px;
	color: #FFFFFF;
	width: 481px;
	 color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

#navigation li {

	list-style: none;
	display: inline-block;
    color: #FFFFFF;
    font-family: 'Nova Square', cursive;
    font-size: 19px;
	padding-left: 23px;
	padding-right: 5px;


}


#left_column {

	background-image: url("pictures/vaporwave.jpg");
	width: 50%;
	display: inline-block;
	float: left;

}

#whitepanel {

	width: 80%;
	height:80%;
	background-color: #FFFFFF;
	margin: 0 auto;
	background: rgba(192, 108, 193, 0.5);
}


#right_column {

	width: 50%;
	height: 100%;
	float: right;
	display: inline-block;
	position: fixed;
	background-image: url("pictures/computer.jpg");
	background-repeat: no-repeat;
	margin-left: 170px;
	margin-top: 13px;

}


#container {

	width: 100%;
}


#pi {
	margin-left: 63px;
}

.white {

	color: white;
	text-decoration: none;
}

h2 {
	text-align: center;
    font-family: 'Nova Square', cursive;

}

.panels {

	border-bottom: 1px solid;
	border-top: 1px solid;
	border-left: 2px solid;
	border-right: 2px solid;
	padding-left: 17px;
}

.panels ul {

	padding-left: 103px;
}

#p1 {
	padding-left: 12px;
}

#p2 p {
	padding-left: 53px;
}

#p2 ul {

	padding-left: 204px;
}



#s4c {

	border-radius: 50%;
	width: 38%;
	display: block;
	height: 80%;
	margin-top: 128px;
	margin-left: 64px;


}

.icon {

	width: 11%; 
	margin-top: 5px;
	margin-right: 4px;
	
}

.icon:hover, .white:hover, nav li:hover {
	opacity: 0.5;
}

#icons2 {

	margin-left: 114px;
	width: 53%;
	height: 50%;
}



@media screen and (max-width: 960px) and (min-width: 400px){
	
	#container {

		width:100%;
		
	}

	#left_column, #right_column {
		width: 100%;
	}
	
}